:root {

  --dark-gray-1:#1E1F22;
  --dark-gray-2:#2B2D30;
  --dark-gray-3:#393B40;
  --dark-gray-4:#43454A;
  --dark-gray-5:#4E5157;
  --dark-gray-6:#5A5D63;
  --dark-gray-7:#6F737A;
  --dark-gray-8:#868A91;
  --dark-gray-9:#9DA0A8;
  --dark-gray-10:#B4B8BF;
  --dark-gray-11:#CED0D6;
  --dark-gray-12:#DFE1E5;
  --dark-gray-13:#F0F1F2;
  --dark-gray-14:#FFFFFF;

  --dark-blue-1:#25324D;
  --dark-blue-2:#2E436E;
  --dark-blue-3:#35538F;
  --dark-blue-4:#375FAD;
  --dark-blue-5:#366ACF;
  --dark-blue-6:#3574F0;
  --dark-blue-7:#467FF2;
  --dark-blue-8:#548AF7;
  --dark-blue-9:#6B9BFA;
  --dark-blue-10:#83ACFC;
  --dark-blue-11:#99BBFF;

  --dark-green-1:#253627;
  --dark-green-2:#375239;
  --dark-green-3:#436946;
  --dark-green-4:#4E8052;
  --dark-green-5:#57965C;
  --dark-green-6:#5FAD65;
  --dark-green-7:#73BD79;
  --dark-green-8:#89CC8E;
  --dark-green-9:#A0DBA5;
  --dark-green-10:#B9EBBD;
  --dark-green-11:#D4FAD7;

  --dark-red-1:#402929;
  --dark-red-2:#5E3838;
  --dark-red-3:#7A4343;
  --dark-red-4:#9C4E4E;
  --dark-red-5:#BD5757;
  --dark-red-6:#DB5C5C;
  --dark-red-7:#E37774;
  --dark-red-8:#EB938D;
  --dark-red-9:#F2B1AA;
  --dark-red-10:#F7CCC6;
  --dark-red-11:#FAE3DE;

  --dark-yellow-1:#3D3223;
  --dark-yellow-2:#5E4D33;
  --dark-yellow-3:#826A41;
  --dark-yellow-4:#9E814A;
  --dark-yellow-5:#BA9752;
  --dark-yellow-6:#D6AE58;
  --dark-yellow-7:#F2C55C;
  --dark-yellow-8:#F5D273;
  --dark-yellow-9:#F7DE8B;
  --dark-yellow-10:#FCEBA4;
  --dark-yellow-11:#FFF6BD;

  --dark-orange-1:#45322B;
  --dark-orange-2:#614438;
  --dark-orange-3:#825845;
  --dark-orange-4:#A36B4E;
  --dark-orange-5:#C77D55;
  --dark-orange-6:#E08855;
  --dark-orange-7:#E5986C;
  --dark-orange-8:#F0AC81;
  --dark-orange-9:#F5BD98;
  --dark-orange-10:#FACEAF;
  --dark-orange-11:#FFDFC7;

  --dark-purple-1:#2F2936;
  --dark-purple-2:#433358;
  --dark-purple-3:#583D7A;
  --dark-purple-4:#6C469C;
  --dark-purple-5:#8150BE;
  --dark-purple-6:#955AE0;
  --dark-purple-7:#A571E6;
  --dark-purple-8:#B589EC;
  --dark-purple-9:#C4A0F3;
  --dark-purple-10:#D4B8F9;
  --dark-purple-11:#E4CEFF;

  --dark-teal-1:#1D3838;
  --dark-teal-2:#1E4D4A;
  --dark-teal-3:#20635D;
  --dark-teal-4:#21786F;
  --dark-teal-5:#238E82;
  --dark-teal-6:#24A394;
  --dark-teal-7:#42B1A4;
  --dark-teal-8:#60C0B5;
  --dark-teal-9:#7DCEC5;
  --dark-teal-10:#9BDDD6;
  --dark-teal-11:#B9EBE6;

  --dark-general-default: #BDC0C9;
  --dark-general-error: #FF5263;
  --dark-general-warning: #FFCD59;
  --dark-general-link: #548AF7;
  --dark-general-todo: #82BA3D;
}