.unreal-comment-pop-menu-item {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    &:hover {
        background-color: rgba(0, 0, 0, 0.04);
    }
}
.unreal-comment-pop-menu-item-selected{
    background-color: #e6f4ff;
}