.excelTableBox {
  .actionHeader{
    padding: 20px;
  }
  .excelTable{
    flex: 1;
    overflow: hidden;
    padding: 0 20px;
  }
}
.templateTag{
  border-radius: 4px;
  padding: 1px 2px;
  background-color: #434343;
  cursor: pointer;
}
.changedTemplateTag{
  border-radius: 4px;
  padding: 1px 2px;
  background-color: #389e0d;
  cursor: pointer;
}
