.excelTableBox {
  .actionHeader{
    padding: 20px;
  }
  .excelTable{
    flex: 1;
    overflow: hidden;
    padding: 0 20px;
  }
}
.templateTag{
  border-radius: 4px;
  padding: 1px 2px;
  background-color: #e6fffb;
  color: #08979c;
  cursor: pointer;
  border: 1px solid #87e8de;
}
.changedTemplateTag{
  border-radius: 4px;
  padding: 1px 2px;
  background-color: #e6f4ff;
  color: #0958d9;
  cursor: pointer;
  border: 1px solid #91caff;
}
